// COLORS

$color-black: #000;
$color-white: #fff;

$color-primary: #333;

$color-grey-light: #f7f7f7;
$color-grey-medium: #CCCCCC;
$color-grey-dark: #777;

$color-section-background-1: #f7f7f7;
$color-section-background-2: #F3FAFA;
$color-section-background-3: #F5F0ED;
$color-footer: #292929;

$color-section-box: #D9DFD4;

$color-error: #facac8;
$color-success: #BEEBAF;


// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;