.navigation {

    &__nav {
        height: 6rem;
        width: 100%;
        padding-left: 6rem;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        background-color: $color-grey-light;
        z-index: 5;
        transition: opacity .5s;

        display: flex;
        align-items: center;

        @media only screen and (max-width: 56.25em),
        only screen and (hover: none) {
            padding-left: 2rem;
        }
    }

    &__list {
        list-style: none;
        width: 100%;

        display: grid;
        grid-template-columns: repeat(4, min-content) 1fr max-content;
    }

    &__item {

        &--auth {
            grid-column: 6 / 7;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        &--non-essential {
            @media only screen and (max-width: 56.25em),
            only screen and (hover: none) {
                display: none;
            }
        }
        
    }


    &__link {
        &,
        &:link,
        &:visited {
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 700;
            text-decoration: none;
            color: $color-black;
            margin: 3rem;
        }

        &:hover {
            color: $color-grey-dark;
            cursor: pointer;
        }
    }

    &__profile {
        color: $color-grey-dark;
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 400;
        text-decoration: none;
        margin: 3rem;

        @media only screen and (max-width: 62.5em),
        only screen and (hover: none) {
            display: none;
        }
    }
}