*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines base font as 10px = 1rem
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%; // 1 rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1 rem = 8px
    }
    
    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px
    }
}

body {
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $color-primary;
  -webkit-box-shadow: 0 0 0px 1000px $color-white inset;
}